.centred-view-container

  .form-outer-container
    %h2 Log into your store
    .form-container
      - if flash.present?
        = form_tag '/login', :class => 'form-group has-error' do
          = label_tag 'Email Address'
          = text_field_tag 'email', nil, :autofocus => true, :class => 'form-control'
          = label_tag 'Password'
          = password_field_tag 'password', nil, :class => 'form-control'
          = submit_tag 'Go', class: 'btn btn-success btn-block'
      - else
        = form_tag '/login', :class => 'form-horizontal' do
          = label_tag 'Email Address'
          = text_field_tag 'email', nil, :autofocus => true, :class => 'form-control'
          = label_tag 'Password'
          = password_field_tag 'password', nil, :class => 'form-control'
          = submit_tag 'Go', class: 'btn btn-success btn-block'

      .flash-errors
        = flash[:notice]
