.centred-view-container

  .form-outer-container
    %h2 Add your seller details
    .form-container
      = form_tag '/admin/account_setup', :class => 'form-horizontal' do
        = label_tag 'First Name'
        = text_field_tag "admin[first_name]", nil, :required => true, :placeholder => 'Required', :class => 'form-control'
        = label_tag 'Last Name'
        = text_field_tag "admin[last_name]", nil, :required => true, :placeholder => 'Required', :class => 'form-control'
        = label_tag 'Set seller email address'
        = text_field_tag 'store[seller_email]', nil, :required => true, :placeholder => 'Required', :class => 'form-control'
        = label_tag 'Legal Business Name'
        = text_field_tag "store[legal_business_name]", nil, :class => 'form-control'
        = label_tag 'Address'
        = text_field_tag "store[street]", nil, :class => 'form-control'
        = label_tag 'City'
        = text_field_tag "store[city]", nil, :class => 'form-control'
        = label_tag 'State'
        = select_tag "store[state]", "<option>ACT</option><option>NSW</option><option>NT</option><option>QLD</option><option>SA</option><option>TAS</option><option>VIC</option><option>WA</option>".html_safe, include_blank: true, :class => 'form-control'
        = label_tag 'Postcode'
        = text_field_tag "store[postcode]", nil, :class => 'form-control'
        = label_tag 'Country'
        = text_field_tag "store[country]", nil, :class => 'form-control'
        = label_tag 'Phone Number'
        = text_field_tag "store[phone_number]", nil, :class => 'form-control'
        = submit_tag nil, class: 'btn btn-success btn-block'

      / .errors
      / - if @admin
      /   - if @admin.errors.any?
      /     = @admin.errors.full_messages.to_sentence
      / - if @store
      /   - if @store.errors.any?
      /     = @store.errors.full_messages



