.topbar
  %p Dashboard

#dashboard-container
  // Form for store select input.
  = form_tag "/admin", :id => 'dash-store-select' do
    = select_tag("store[store_id]", options_for_select(@stores_array, @store_id), :class => 'form-control')
    / this submit_tag is hidden with css
    = submit_tag 'submit', :class => 'btn btn-primary', :id => 'btn'

  #product-stats
    %table.table
      %thead
        %tr
          %th{:colspan => 2} Product Statistics
      %tbody
        %tr
          %td
            %span Total Listings
          %td= @selected_store_products.count
        %tr
          %td
            %span Hidden items
          %td= @hidden_items_array.count
        %tr
          %td
            %span Highest Priced Item
          %td= "$#{@price_array.max}"
        %tr
          %td
            %span Total Inventory
          %td= "#{@inventory_array.sum} items"
        %tr
          %td
            %span Gross Income
          %td= "$#{@gross_income}"

  #staff-stores-stats
    %table.table
      %thead{:colspan => 2}
        %tr
          %th Staff
      %tbody
        - @staff_members.each do |staff|
          %tr
            %td= staff

  = link_to 'Add staff', '/admin/add-staff', :class => 'btn btn-primary'
  = link_to 'View storefront', "/stores/#{@selected_store.id}", :class => 'btn btn-primary'



