- if @current_admin
  #admin-nav-bar
    %a{:href => "/admin"} Back to Dashboard

#store-page-container
  %nav
    #top-main-bar
      %a{:href => "#"}
        %h1= @store.store_name
      #top-main-bar-links
        %ul
          %li.link-3
            %a{:href => "#"} About
          %li.link-2
            %a{:href => "#"} Contact
          %li.link-1
            %a{:href => "#/cart"} Cart

    #top-selection-bar

  / Cheeky hidden div gets the store_id from the 'stores#shopfront' params[:id].
  / This makes it easy get the store_id from the DOM, and filter my db queries.
  .store_id{:style => 'display: none;'}= @store.id



  / Main view for Backbone rendering.
  #store-main



// ------   BACKBONE TEMPLATES ------ //

%script{:type => 'text/handlebars-template', :id => 'all-products-template'}

  .row
    {{#each products}}
    // Bootstrap column magic div
    %div{:class => 'col-xs-6 col-md-4', :id => 'grid-columns'}

      %div{:id => "top-tile-bar-{{id}}", :class => 'top-tile-bars'}
        %span.title {{title}}
        %span.price ${{price}}.00

      %a{:href => "#product/{{id}}"}
        .product-tiles{:style => "background-image: url(/assets/{{image}})"}

      %div{:id => "bot-tile-bar-{{id}}", :class => 'bot-tile-bars'}
        %div{:id => 'tiles-cart-button', :class => 'btn btn-success btn-sm', :data => { :product_id => '{{id}}' }} Add To Cart
    {{/each}}

  %footer
    #social-media
      - if @store.facebook
        = link_to(image_tag('fb-48.png', :id => 'facebook'), "#{@store.facebook}", :target => "_blank")
      - if @store.twitter
        = link_to(image_tag('twit-48.png', :id => 'twitter'), "#{@store.twitter}", :target => "_blank")
      - if @store.instagram
        = link_to(image_tag('insta-48.png', :id => 'instagram'), "#{@store.instagram}", :target => "_blank")
      - if @store.youtube
        = link_to(image_tag('tube-48.png', :id => 'youtube'), "#{@store.youtube}", :target => "_blank")
    #copyright
      %p= "Copyright #{Time.now.year} © #{@store.legal_business_name}."



%script{:type => 'text/handlebars-template', :id => 'product-template'}

  / #back-bar
  /   %a{:href => "#"}
  /     %img{:src => "/assets/back-arrow.png"}/
  #product-image{:style => "background-image: url(/assets/{{product.image}})"}
  #product-details
    #heading
      %span.price ${{product.price}}.00
      %div{:id => 'details-cart-button', :class => 'btn btn-success btn-sm', :data => { :product_id => '{{product.id}}' }} Add To Cart

    #description
      %h2 {{product.title}}
      %article {{product.description}}


%script{:type => 'text/handlebars-template', :id => 'cart-template'}

  / #back-bar
  /   %a{:href => "#"}
  /     %img{:src => "/assets/back-arrow.png"}/

  %table.table
    %thead
    %tbody
      {{#each cartItems}}
      %tr
        %td.image-column
          %a{:href => "#product/{{product_id}}"}
            %img{:src => "/assets/{{image}}", :width => '100x100'}/
        %td.title-column
          %a{:href => "#product/{{product_id}}"} {{title}}
        %td.price-column
          ${{price}}.00
        %td.remove-column
          %div{:id => 'remove-cart-item', :class => 'btn btn-danger btn-sm', :data => { :product_id => '{{id}}' }} Remove Item
      {{/each}}
  #checkout
    %div{:id => 'checkout-button', :class => 'btn btn-success'} Checkout










