#store-page-container
  %nav
    #top-main-bar
      %h1= @store.store_name
      #top-main-bar-links
        %ul
          %li.link-3
            %a{:href => "#"} About
          %li.link-2
            %a{:href => "#"} Contact
          %li.link-1
            %a{:href => "#"} Login

    #top-selection-bar

  / Cheeky hidden div gets the store_id from the 'stores#shopfront' params[:id].
  / This makes it easy get the store_id from the DOM, and filter my db queries.
  .store_id{:style => 'display: none;'}= @store.id

  #store-main

  #footer
    #social-media
      - if @store.facebook
        = link_to(image_tag('fb-48.png', :id => 'facebook'), "#{@store.facebook}", :target => "_blank")
      - if @store.twitter
        = link_to(image_tag('twit-48.png', :id => 'twitter'), "#{@store.twitter}", :target => "_blank")
      - if @store.instagram
        = link_to(image_tag('insta-48.png', :id => 'instagram'), "#{@store.instagram}", :target => "_blank")
      - if @store.youtube
        = link_to(image_tag('tube-48.png', :id => 'youtube'), "#{@store.youtube}", :target => "_blank")
    #copyright
      %p= "Copyright #{Time.now.year} © #{@store.legal_business_name}."


// ------   BACKBONE TEMPLATES ------ //

%script{:type => 'text/handlebars-template', :id => 'all-products-template'}

  .row
    {{#each products}}

    %div{:class => 'col-xs-6 col-md-4', :id => 'grid-columns', :style => 'padding: 0px;'}

      #product-icons-top-dropdown

      %a{:href => "#product/{{id}}"}
        #product-tile{:style => "background-image: url(/assets/{{image}})"}
      / # = link_to(image_tag('{{image}}', :class => 'product-image', :title => '{{title}}'), '#product/{{id}}')

      #product-icons-bot-dropdown

    {{/each}}

%script{:type => 'text/handlebars-template', :id => 'product-template'}
  %p {{product.title}}
