- if @current_admin
  #admin-nav-bar
    %a{:href => "/admin"} Back to Dashboard

#store-page-container
  %nav
    #top-main-bar
      %h1= @store.store_name
      #top-main-bar-links
        %ul
          %li.link-3
            %a{:href => "#"} About
          %li.link-2
            %a{:href => "#"} Contact
          %li.link-1
            %a{:href => "#/cart"} Cart

    #top-selection-bar

  / Cheeky hidden div gets the store_id from the 'stores#shopfront' params[:id].
  / This makes it easy get the store_id from the DOM, and filter my db queries.
  .store_id{:style => 'display: none;'}= @store.id



  / Main view for Backbone rendering.
  #store-main

  #footer
    #social-media
      - if @store.facebook
        = link_to(image_tag('fb-48.png', :id => 'facebook'), "#{@store.facebook}", :target => "_blank")
      - if @store.twitter
        = link_to(image_tag('twit-48.png', :id => 'twitter'), "#{@store.twitter}", :target => "_blank")
      - if @store.instagram
        = link_to(image_tag('insta-48.png', :id => 'instagram'), "#{@store.instagram}", :target => "_blank")
      - if @store.youtube
        = link_to(image_tag('tube-48.png', :id => 'youtube'), "#{@store.youtube}", :target => "_blank")
    #copyright
      %p= "Copyright #{Time.now.year} © #{@store.legal_business_name}."


// ------   BACKBONE TEMPLATES ------ //

%script{:type => 'text/handlebars-template', :id => 'all-products-template'}

  .row
    {{#each products}}
    // Bootstrap column magic div
    %div{:class => 'col-xs-6 col-md-4', :id => 'grid-columns'}

      %div{:id => "top-dropdown-{{id}}", :class => 'top-dropdowns'}
        %span.title {{title}}
        %span.price ${{price}}.00

      %a{:href => "#product/{{id}}"}
        .product-tiles{:style => "background-image: url(/assets/{{image}})"}

      %div{:id => "bot-dropdown-{{id}}", :class => 'bot-dropdowns'}
        %div{:id => 'tiles-buy-button', :data => { :product_id => '{{id}}' }, :class => 'btn btn-success btn-sm'} Add To Cart

    {{/each}}


%script{:type => 'text/handlebars-template', :id => 'product-template'}

  #back-bar
    %a{:href => "#"}
      %img{:src => "/assets/back-arrow.png"}/
  #product-image{:style => "background-image: url(/assets/{{product.image}})"}
  #product-details
    #heading
      %span.price ${{product.price}}.00
      %a{:href => "#"}
        %div{:id => 'details-buy-button', :class => 'btn btn-success btn-sm'} Add To Cart
    #description
      %h2 {{product.title}}
      %article {{product.description}}

%script{:type => 'text/handlebars-template', :id => 'cart-template'}

  {{#each cartItems}}
  %p {{title}}
  {{/each}}











