.centred-view-container
  #topbar
    %h1 Bang-Up!
    = link_to('login', login_path, :class => 'link')
    %p Sign up


  #account-create
    #form-container
      = form_tag '/', :class => 'form-inline' do
        = text_field_tag "store[store_name]", nil, :class => 'form-control', :placeholder => 'Store Name'
        = text_field_tag "admin[email]", nil, :class => 'form-control', :placeholder => 'Email'
        = password_field_tag "admin[password]", nil, :class => 'form-control', :placeholder => 'Password'
        = password_field_tag "admin[password_confirmation]", nil, :class => 'form-control', :placeholder => 'Confirm Password'
        = submit_tag nil, class: 'btn btn-primary btn-sm'

      .errors
        - if @admin
          - if @admin.errors.any?
            = @admin.errors.full_messages.to_sentence
        - if @store
          - if @store.errors.any?
            = @store.errors.full_messages
