#products-form
  = form_tag '/admin/products' do
    %p Title
    = text_field_tag 'products[:title]'
    %p Image URL
    = url_field_tag 'products[:image]'
    %p Description
    = text_field_tag 'products[:description]'
    %p Type
    = text_field_tag 'products[:product_type]'
    %p Price
    = text_field_tag 'products[:price]'
    %p SKU
    = text_field_tag 'products[:sku]'
    %p Weight
    = text_field_tag 'products[:weight]'
    %p Quantity
    = text_field_tag 'products[:quantity]'
    %p URL Handle
    = text_field_tag 'products[:url_handle]'
    = select_tag('products[:visibility]', options_for_select([['Show', true], ['Hide', false]]))
