.topbar
  %p= "Products / #{@product.title} / edit"

#edit-products-form
  = form_tag("/admin/products/#{@product.id}", method: :put, :class => 'form-horizontal') do
    = label_tag 'Title'
    = text_field_tag 'product[title]', "#{@product.title}", :class => 'form-control'
    = label_tag 'Image URL'
    = text_field_tag 'product[image]', "#{@product.image}", :class => 'form-control'
    = label_tag 'Description'
    = text_area_tag 'product[description]', "#{@product.description}", :class => 'form-control'
    = label_tag 'Type'
    = text_field_tag 'product[product_type]', "#{@product.product_type}", :class => 'form-control'
    = label_tag 'Price'
    = text_field_tag 'product[price]', "#{@product.price}", :class => 'form-control'
    = label_tag 'SKU'
    = text_field_tag 'product[sku]', "#{@product.sku}", :class => 'form-control'
    = label_tag 'Weight'
    = text_field_tag 'product[weight]', "#{@product.weight}", :class => 'form-control'
    = label_tag 'Quantity'
    = text_field_tag 'product[quantity]', "#{@product.quantity}", :class => 'form-control'
    = label_tag 'URL Handle'
    = text_field_tag 'product[url_handle]', "#{@product.url_handle}", :class => 'form-control'
    = label_tag 'Visibility'
    = select_tag('product[visibility]', options_for_select([['Show', true], ['Hide', false]]), :class => 'form-control')
    = label_tag 'Store'
    = select_tag("product[store_id]", options_for_select(@stores_array), :class => 'form-control')
    = submit_tag nil, class: 'btn btn-success btn-block', id: 'edit-submit'

