.topbar
  %p Products
.view-container
  %table.tablesorter-default#products-show
    %thead
      %tr
        %th Image
        %th Name
        %th Type
        %th Price
        %th Quantity
        %th Store
        %th Visibility
    %tbody#tablesort
    - @stores.each do |store|
      - store.products.each do |product|
        %tr
          %td= image_tag product.image, :class => 'images-list'
          %td= link_to product.title, admin_product_path(product)
          %td= product.product_type
          %td= "$#{product.price}"
          %td= product.quantity
          %td= store.store_name
          - if product.visibility == true
            %td Visible
          - else
            %td Hidden

  = link_to('Add product', admin_products_new_path)
