#product-image-column
  = image_tag @product.image, :class => 'images-large'

%ul
  %li= "#{@product.title}"
  %li= "#{@product.description}"
  %li= "#{@product.product_type}"
  %li= "$#{@product.price}"
  %li= "#{@product.store.store_name}"
  %li= "#{@product.sku}"
  %li= "#{@product.weight}kg"
  %li= "#{@product.quantity}"
  %li= "#{@product.url_handle}"
  - if @product.visibility == true
    %li Visible
  - else
    %li Hidden


= link_to('Delete', admin_product_delete_path(@product), :data => { :method => :delete })
= link_to('Edit', admin_products_edit_path)



