<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Store Builder
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{:class => @sidebar_reveal}
    #main-container{:class => @main_container_selector}
      - if @sidebar_reveal
        #sidebar
          = link_to(admin_path) do
            %li Dashboard
          = link_to(admin_orders_path) do
            %li Orders
          = link_to('#') do
            %li Customers
          = link_to(admin_products_path) do
            %li Products
          = link_to('#') do
            %li Collections
          = link_to(admin_settings_path) do
            %li Settings
          = link_to(logout_path, :data => {:method => :delete}) do
            %li Logout
      #yield{:class => @sidebar_reveal}
        = yield

